 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="camera-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a wife and mother of nine with ages from 5 to 24. Craziness is a lifestyle for me, but through it all, I've always had my camera. With a family of eleven comes countless memories I've made it my mission to capture. Despite protests from the other ten!</p>
                </div>
                <div class="col-lg-4">
                    <p>I love helping other people to capture the crazy moments in their lives, too. I firmly believe every picture has a story. Let me help you and your family tell yours!</p>
                    <p>I'm a "Now I Lay Me Down to Sleep" affiliate photographer.</p>
                </div>
                <!-- nothing to download
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>